{% extends "base.jinja2" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table id="data_nbu" class="display">
            <thead>
                <tr>
                    <th>exchangedate</th>
                    <th>Код</th>
                    <th>Валюта</th>
                    <th>Название</th>
                    <th>Курс</th>
                </tr>
            </thead>
            <tbody>
                {% for nbu_exch in nbu %}
                    <tr>
                        <td>{{ nbu_exch.exchangedate }}</td>
                        <td>{{ nbu_exch.r030 }}</td>
                        <td>{{ nbu_exch.cc }}</td>
                        <td>{{ nbu_exch.txt }}</td>
                        <td>{{ nbu_exch.rate }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% endblock content %}